header {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
/* ********** CTA ******** */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
/* ********** Header Socials ******** */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}
.header__container::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
/* ********** Me ******** */
 .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 5rem;
    height: 50rem;
    
    position: absolute;
    left: calc(50% - 3rem);
    margin-top: 2rem;
    border-radius: 10rem 10rem 0 0;
    
    padding: 2rem 1rem 1rem 1rem ;
     
}
/* ********** Scroll Down ******** */
.Scroll__down{
    position: relative;
    right: -12rem;
    top: 5rem;
    transform: rotate(90deg);
    font-weight: 300rem;
    font-size: 0.9rem;
}
/* ********Mediaquaries (Mediam Devices) ******* */
@media screen and (max-width: 1024px) {
header{
    height: 70vh;
}
}
/* ********Mediaquaries (Small Devices) ******* */
@media screen and (max-width: 1024px) {
    header{
        height: 90vh;
    }
    .header__socials,
    .Scroll__down {
        display: none;
    }
}